<!DOCTYPE html>
<html>
<head>
    {% include 'include.html' %}
    {% load static %}

    <style>
        body {
            background-image: url("{% static 'img/MainClinica.png' %}");
            background-size: cover; 
            background-position: center;
                }
    </style>
</head>


    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'admin_include.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars" style="color: black;"></i></a>
                <h1 class="text-center" style="color: black;">Bienvenid@ a su Perfil...{{ admin_details.nombre }}</h1>
            </div>
        </div>
    </div>



<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>