{% include 'include.html' %}
{% include 'navbar.html' %}
{% load static %}



<style>
    .eye-icon {
        background-color: transparent;
        border: none;
        
    }
</style>

<div class="login-dark" style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
    <form method="post">
        {% csrf_token %}
        <!-- Campo de correo electrónico -->
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email">
        </div>
        
        <!-- Campo de nueva contraseña -->
        <div class="form-group">
            <div class="input-group">
                <input id="password-input1" class="form-control" type="password" name="new_password1" placeholder="New Password">
                <div class="input-group-append">
                    <span class="input-group-text eye-icon">
                        <i id="toggle-password1" class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        
        <!-- Campo de repetir contraseña -->
        <div class="form-group">
            <div class="input-group">
                <input id="password-input2" class="form-control" type="password" name="new_password2" placeholder="Repeat Password">
                <div class="input-group-append">
                    <span class="input-group-text eye-icon">
                        <i id="toggle-password2" class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        
        <!-- Botón de enviar -->
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" onclick="return validarFormulario()">Recuperar Contraseña</button>
        </div>
        
        <!-- Enlace de volver al inicio de sesión -->
        <div class="form-group">
            <a class="btn btn-primary btn-block" href="{% url 'loginpage' %}">Volver al inicio de sesión</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    function validarFormulario() {
        var password1 = document.getElementById("password-input1").value;
        var password2 = document.getElementById("password-input2").value;
        
        // Validar longitud de contraseña
        if (password1.length < 8 || password1.length > 16) {
            alert("La contraseña debe tener entre 8 y 16 caracteres");
            return false;
        }
        
        // Validar que ambas contraseñas coincidan
        if (password1 !== password2) {
            alert("Las contraseñas no coinciden");
            return false;
        }
        
        // Validar al menos un número
        if (!/\d/.test(password1)) {
            alert("La contraseña debe contener al menos un número");
            return false;
        }
        
        // Validar al menos una mayúscula
        if (!/[A-Z]/.test(password1)) {
            alert("La contraseña debe contener al menos una letra mayúscula");
            return false;
        }
        
        // Validar al menos una minúscula
        if (!/[a-z]/.test(password1)) {
            alert("La contraseña debe contener al menos una letra minúscula");
            return false;
        }
        
        // Validar al menos un carácter especial
        if (!/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password1)) {
            alert("La contraseña debe contener al menos un carácter especial");
            return false;
        }
        
        // Si todas las validaciones son exitosas, enviar el formulario
        return true;
    }
</script>



<script>
    document.getElementById('toggle-password1').addEventListener('click', function() {
        var passwordInput = document.getElementById('password-input1');
        var icon = document.getElementById('toggle-password1');
        
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    });
    
    document.getElementById('toggle-password2').addEventListener('click', function() {
        var passwordInput = document.getElementById('password-input2');
        var icon = document.getElementById('toggle-password2');
        
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    });
    

$(document).ready(function() {
    // Al enviar el formulario
    $('form').on('submit', function(event) {
        event.preventDefault(); // Prevenir el envío del formulario por defecto

        // Obtener los datos del formulario
        var formData = $(this).serialize();

        // Hacer la solicitud POST a la vista de recuperación de contraseña
        $.ajax({
            url: '/login_recovery/', // URL de la vista de recuperación de contraseña
            type: 'POST', // Utilizando el método POST para enviar los datos del formulario
            data: formData,
            success: function(response) {
                alert("Contraseña actualizada exitosamente."); // Mostrar mensaje de éxito
                // Limpiar el formulario después de enviar la solicitud
                $('form')[0].reset();
            },
            error: function(xhr, status, error) {
                alert("Credenciales inválidas"); // Mostrar mensaje de error
            }
        });
    });
});
</script>