<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
    <style>
        body {
            background-image: url("{% static 'img/MainClinica.png' %}");
            background-size: cover; 
            background-position: center;
                }
    </style>

</head>


<body>
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'patient_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid">
                <a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                        <form id="editProfileForm" class="custom-form" style="margin-top: 0px;">
                            {% csrf_token %}
                            <h1>Tu Perfil</h1>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field">Nombre </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="nombre" value="{{ patient_details.nombre }}" readonly>
                                </div>
                            </div>
                            <!-- Otros campos del formulario aquí... -->
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="email-input-field">Email </label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="email" value="{{ patient_details.email }}" readonly>
                                </div>
                            </div>
                            <!-- Otros campos del formulario aquí... -->
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="dropdown-input-field">Género</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <select class="form-control" name="sexo" disabled>
                                        <option value="M" {% if patient_details.sexo == "M" %} selected {% endif %}>Male</option>
                                        <option value="F" {% if patient_details.sexo == "F" %} selected {% endif %}>Female</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Otros campos del formulario aquí... -->
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field">Teléfono</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="telefono" value="{{ patient_details.telefono }}" readonly>
                                </div>
                            </div>
                            <!-- Otros campos del formulario aquí... -->
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field">Dirección</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <textarea class="form-control" name="direccion" readonly>{{ patient_details.direccion }}</textarea>
                                </div>
                            </div>
                            <!-- Otros campos del formulario aquí... -->
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field">Fecha de nacimiento</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="date" name="fechanac" value="{{ patient_details.fechanac|date:'Y-m-d' }}" readonly>
                                </div>
                            </div>
                            <!-- Campo de contraseña -->
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field">Password</label>
                                    
                                </div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" name="password" value="{{ patient_details.password }}" readonly>
                                    <input type="hidden" name="password_original" value="{{ patient_details.password }}">
                                   
                                                                       
                                </div>
                            </div>
                            <!-- Campo de gruposanguineo -->
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column">
                                    <label class="col-form-label" for="name-input-field">Grupo Sanguíneo</label>
                                </div>
                                <div class="col-sm-6 input-column">
                                    <select class="form-control" name="gruposanguineo" disabled>
                                        <option value="A+" {% if patient_details.gruposanguineo == "A+" %} selected {% endif %}>A+</option>
                                        <option value="A-" {% if patient_details.gruposanguineo == "A-" %} selected {% endif %}>A-</option>
                                        <option value="B+" {% if patient_details.gruposanguineo == "B+" %} selected {% endif %}>B+</option>
                                        <option value="B-" {% if patient_details.gruposanguineo == "B-" %} selected {% endif %}>B-</option>
                                        <option value="AB+" {% if patient_details.gruposanguineo == "AB+" %} selected {% endif %}>AB+</option>
                                        <option value="AB-" {% if patient_details.gruposanguineo == "AB-" %} selected {% endif %}>AB-</option>
                                        <option value="O+" {% if patient_details.gruposanguineo == "O+" %} selected {% endif %}>O+</option>
                                        <option value="O-" {% if patient_details.gruposanguineo == "O-" %} selected {% endif %}>O-</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Botón para modificar los datos -->
                            <button type="button" id="editDataBtn" class="btn btn-primary">Modificar datos</button>
                            <!-- Botón para guardar los cambios -->
                            <button type="button" id="saveChangesBtn" class="btn btn-primary" onclick="return validarFormulario()" style="display: none;">Guardar cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/back-to-top-scroll.js' %}"></script>
    <script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/Sidebar-Menu.js' %}"></script>
   
   
   <script type="text/javascript">
        function validarFormulario() {
            var password = document.getElementsByName("password")[0].value;
            // Validar longitud
            if (password.length < 8 || password.length > 16) {
                alert("La contraseña debe tener entre 8 y 16 caracteres");
                return false; // Evitar el envío del formulario
            }
            // Validar al menos un número
            if (!/\d/.test(password)) {
                alert("La contraseña debe contener al menos un número");
                return false; // Evitar el envío del formulario
            }
            // Validar al menos una mayúscula
            if (!/[A-Z]/.test(password)) {
                alert("La contraseña debe contener al menos una letra mayúscula");
                return false; // Evitar el envío del formulario
            }
            // Validar al menos una minúscula
            if (!/[a-z]/.test(password)) {
                alert("La contraseña debe contener al menos una letra minúscula");
                return false; // Evitar el envío del formulario
            }
            // Validar al menos un carácter especial
            if (!/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password)) {
                alert("La contraseña debe contener al menos un carácter especial");
                return false; // Evitar el envío del formulario
            }
            // Si todas las validaciones son exitosas, enviar el formulario
            return true;
        }
   
    </script>

<script>
 
        $(document).ready(function () {
            // Al hacer clic en el botón "Modificar datos"
            $('#editDataBtn').on('click', function () {
                // Habilitar la edición de todos los campos
                $('#editProfileForm input, #editProfileForm textarea, #editProfileForm select').prop('readonly', false).prop('disabled', false);
                // Mostrar el botón "Guardar cambios" y ocultar el botón "Modificar datos"
                $('#saveChangesBtn').show();
                $(this).hide();
            });
        
            // Al hacer clic en el botón "Guardar cambios"
            $('#saveChangesBtn').on('click', function () {
                // Deshabilitar la edición de todos los campos
                $('#editProfileForm input, #editProfileForm textarea, #editProfileForm select').prop('readonly', true).prop('disabled', true);
                // Obtener el token CSRF del formulario
                var csrfToken = $('#editProfileForm input[name="csrfmiddlewaretoken"]').val();
                // Crear un objeto para almacenar los datos a enviar
                var formData = {};
                // Obtener los campos que han cambiado y agregarlos al objeto formData
                $('#editProfileForm input[name], #editProfileForm select[name], #editProfileForm textarea[name]').each(function () {
                    var fieldName = $(this).attr('name');
                    var fieldValue = $(this).val();
                    // Agregar el campo al objeto formData solo si su valor ha cambiado
                    if (fieldValue !== $(this).attr('value')) {
                        formData[fieldName] = fieldValue;
                    }
                });
                // Enviar los datos mediante una solicitud AJAX
            $.ajax({
                url: '{% url "patientprofile" %}',
                type: 'POST',
                // Incluir el token CSRF en los encabezados de la solicitud
                headers: { "X-CSRFToken": csrfToken },
                data: formData,
                success: function (data) {
                    // Actualizar el valor del campo de contraseña si se ha modificado
                    var newPassword = $('#editProfileForm input[name="password"]').val();
                    if (newPassword !== $('#editProfileForm input[name="password_original"]').val()) {
                        $('#editProfileForm input[name="password_original"]').val(newPassword);
                    }
                    // Actualizar el valor del campo de fecha después de guardar los cambios
                    var newDate = $('#editProfileForm input[name="fechanac"]').val();
                    $('#editProfileForm input[name="fechanac"]').attr('value', newDate);
                    // Mostrar el mensaje de éxito como una alerta
                    alert("¡Usuario actualizado con éxito!");
                    // Cambiar el texto del botón a "Modificar datos"
                    $('#editDataBtn').text('Modificar datos').show();
                    $('#saveChangesBtn').hide();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>

{% if success %}
<script type="text/javascript">
    window.onload = function() {
        alert("¡Usuario actualizado con éxito!");
    }
</script>
{% endif %}



</body>

</html>
